<!DOCTYPE html>
<html>
  <head>
    <title>Java/Spring Backend Home</title>
    <style>
      body {
        font-family: sans-serif;
        padding: 20px;
      }
      a {
        display: block;
        margin-bottom: 10px;
      }
      table {
        border-collapse: collapse;
        margin-top: 20px;
        width: 100%;
      }
      th,
      td {
        border: 1px solid #aaa;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to CV Web Backend. Java/Spring MVC</h1>

    <a href="/api/v1/jobs">Try listing jobs</a>
    <a href="/api/v1/jobs/current">Try listing current job</a>

    <a href="/api/v1/educations">Try listing educations</a>
    <a href="/api/v1/educations/current">Try listing current education</a>

    <a href="/test">Dummy Junit test endpoint</a>
    <a href="/does-not-exist">Custom 404 error page</a>
    <a href="/mailgun/send">Send a MailGun dummy email</a>

    <a href="/temporal/hello">Run Temporal Hello Workflow</a>
    <a href="/actuator/prometheus">Prometheus Metrics</a>
    <a href="/swagger-ui.html">Swagger Docs</a>

    <h2>Available Services</h2>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>URL</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Frontend</td>
          <td><a href="http://localhost:3000">http://localhost:3000</a></td>
          <td>Vite/React/TypeScript frontend service</td>
        </tr>
        <tr>
          <td>Backend</td>
          <td><a href="http://localhost:8080">http://localhost:8080</a></td>
          <td>Spring Boot backend service</td>
        </tr>
        <tr>
          <td>Grafana</td>
          <td><a href="http://localhost:3001">http://localhost:3001</a></td>
          <td>Grafana dashboard service</td>
        </tr>
        <tr>
          <td>Prometheus</td>
          <td><a href="http://localhost:9090">http://localhost:9090</a></td>
          <td>Prometheus metrics service</td>
        </tr>
        <tr>
          <td>AlertManager</td>
          <td><a href="http://localhost:9093">http://localhost:9093</a></td>
          <td>Prometheus AlertManager service</td>
        </tr>
        <tr>
          <td>Temporal UI</td>
          <td><a href="http://localhost:8088">http://localhost:8088</a></td>
          <td>Temporal service</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
